<%- include("header") -%>
    <div class="box" id="heading">
        <h1>
            <%= ListTitle %>!
        </h1>
    </div>

    <div class="box">
        <form action="/delete" method="post">
            <% lists.forEach(function(f){ %>
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%=f._id%>" onChange="this.form.submit()">
                    <p>
                        <%= f.name %>
                    </p>
                </div>
            <% }) %>
            <input type="hidden" name="listName" value="<%= ListTitle %>"></input>
        </form>
        

                <form class="item" action="/" method="post">
                    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="button" value=<%=ListTitle %>>+</button>
                </form>
    </div>

    <%- include("footer") -%>